In [1]:
#Importing necessary Libraries
import pandas as pd

In [2]:
#Reading Data
df = pd.read_csv('vehicles_us.csv')
#Looking at Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

12 Columns, 51525 Rows.
Mandatory columns seem to be (Price, Model, Condition, Fuel(economy?), Transmission, Type, Date Posted, Days Listed) 8/12
Columns with missing data are (Model Year, Cylinders, Odometer, Paint Color, Is 4WD) 4/12

Model Year will be changed to integer.
Fuel being an object will be further investigated.
Is 4WD should be a boolean.
Price and Cylinders will be investigated for better data type.
Date Posted will be converted to Date data type.

In [3]:
#Getting a sample of data
df.sample(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
26707,18990,2000.0,ford f-350 sd,good,8.0,diesel,118774.0,automatic,truck,NaN,1.0,2018-09-20,48
41623,17990,NaN,chevrolet traverse,good,6.0,gas,52688.0,automatic,SUV,white,1.0,2019-04-13,11
43882,16595,2012.0,bmw x5,excellent,8.0,gas,73705.0,automatic,SUV,white,1.0,2019-01-27,11
44149,22500,2016.0,chevrolet silverado,like new,6.0,gas,13000.0,automatic,pickup,white,NaN,2018-11-06,8
13632,19950,2015.0,ram 1500,like new,8.0,gas,84882.0,automatic,truck,black,1.0,2018-10-27,21
20844,6995,2010.0,honda odyssey,good,6.0,gas,NaN,automatic,mini-van,black,NaN,2019-03-26,10
19594,15500,NaN,chevrolet silverado 1500,excellent,8.0,gas,150000.0,automatic,pickup,grey,1.0,2019-02-10,28
15334,3200,2003.0,toyota camry,good,4.0,gas,NaN,automatic,sedan,black,NaN,2018-12-04,28
37668,1500,2005.0,chrysler town & country,fair,4.0,gas,196000.0,automatic,mini-van,blue,NaN,2018-07-10,12
23223,7900,2015.0,subaru outback,good,4.0,gas,NaN,automatic,wagon,green,1.0,2018-11-26,107
19395,14800,2014.0,chevrolet silverado 1500,excellent,6.0,gas,NaN,automatic,truck,silver,NaN,2018-06-07,57
16047,15500,2011.0,ford f-150,excellent,8.0,gas,156000.0,automatic,truck,white,1.0,2018-07-09,17
20913,4500,2004.0,ford f-150,excellent,8.0,gas,218000.0,automatic,pickup,NaN,1.0,2018-11-15,10
27690,6750,2012.0,chrysler 200,excellent,6.0,gas,98135.0,automatic,sedan,red,NaN,2019-02-22,13
33500,6997,2011.0,ford econoline,good,10.0,gas,248135.0,automatic,bus,white,NaN,2019-01-26,29
38855,15998,2017.0,chevrolet malibu,excellent,4.0,gas,NaN,automatic,sedan,custom,NaN,2019-04-19,22
47092,1500,2000.0,honda odyssey,fair,6.0,gas,230000.0,automatic,mini-van,green,NaN,2019-02-16,31
6279,9995,2008.0,chevrolet tahoe,good,8.0,gas,174897.0,automatic,SUV,NaN,1.0,2018-11-20,6
917,5995,2010.0,toyota corolla,excellent,4.0,gas,144000.0,automatic,sedan,red,NaN,2018-12-19,6
7633,2995,2002.0,ford taurus,excellent,6.0,gas,NaN,automatic,sedan,silver,NaN,2018-05-15,107

In [4]:
#Printing missing values
print('Missing values:')
print(df.isna().sum())
print()

#Printing unique values in the 'is_4wd' column
print('Unique values in "is_4WD":')
print(df['is_4wd'].unique())

Missing values:
price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

Unique values in "is_4WD":
[ 1. nan]

### Fixing Data

In [5]:
#Changing 'date_posted' to datetime data type
df['date_posted'] = pd.to_datetime(df['date_posted'])

#Chagning 'model_year' to int data type
df['model_year'] = df['model_year'].fillna(-1).astype('int64')

#Filling missing values in 'is_4wd' and changing to int data type
df['is_4wd'] = df['is_4wd'].fillna(0).astype('int64')
df.sample(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
10867,17400,2012,toyota tundra,excellent,8.0,gas,86551.0,automatic,pickup,white,1,2018-08-16,15
43265,19500,1993,ford mustang,excellent,8.0,gas,116000.0,manual,coupe,blue,0,2018-06-04,56
12181,7550,2013,nissan maxima,good,6.0,gas,175000.0,automatic,sedan,grey,0,2018-12-20,61
47959,4800,-1,ford ranger,excellent,4.0,gas,NaN,automatic,truck,white,0,2018-12-04,47
22036,5500,2015,nissan sentra,good,4.0,gas,116000.0,automatic,sedan,black,0,2019-03-03,10
2343,2000,1997,toyota 4runner,good,6.0,gas,95000.0,manual,SUV,red,1,2019-04-03,37
37915,23495,2014,toyota tacoma,excellent,6.0,gas,100802.0,automatic,truck,grey,1,2018-09-07,32
39500,2990,1997,ford ranger,excellent,4.0,gas,204432.0,automatic,truck,blue,0,2018-05-03,44
12960,1800,2003,honda accord,excellent,4.0,gas,125000.0,automatic,sedan,grey,0,2018-08-30,4
39749,14000,2006,toyota tacoma,good,6.0,gas,240000.0,automatic,truck,silver,1,2018-05-03,177
20229,4550,2004,jeep grand cherokee laredo,good,8.0,gas,199997.0,automatic,SUV,grey,1,2018-12-05,48
41740,3000,2001,ford explorer,fair,8.0,gas,164000.0,automatic,SUV,green,0,2018-05-12,47
16347,5500,2008,jeep grand cherokee,good,8.0,gas,148578.0,automatic,SUV,black,1,2018-07-18,25
22336,15950,2014,gmc sierra 1500,excellent,8.0,gas,135136.0,automatic,truck,blue,1,2019-02-07,49
18711,17925,2016,toyota rav4,excellent,4.0,gas,88353.0,automatic,SUV,silver,1,2018-05-11,61
9680,6500,2006,dodge charger,good,6.0,gas,115204.0,automatic,sedan,red,0,2018-06-30,35
46573,13995,2004,chevrolet silverado 1500,excellent,8.0,gas,NaN,automatic,pickup,black,1,2018-05-23,30
25139,3895,2006,nissan murano,good,6.0,gas,214932.0,automatic,wagon,custom,0,2018-06-04,48
9954,14900,2010,ford f-150,like new,8.0,gas,121920.0,automatic,truck,NaN,1,2019-01-07,42
39632,10100,2012,dodge charger,excellent,6.0,gas,108000.0,automatic,other,silver,0,2018-05-30,35

### Enrich Data

In [6]:
df['manufacturer'] = df['model'].apply(lambda x: x.split()[0])
df.sample(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
35336,11900,2003,toyota tacoma,excellent,6.0,gas,183000.0,automatic,pickup,NaN,1,2018-11-10,17,toyota
41122,17490,2016,ford econoline,good,NaN,gas,122974.0,automatic,truck,NaN,0,2018-06-19,24,ford
25315,33990,2018,ford f-150,good,8.0,diesel,23603.0,automatic,truck,silver,1,2018-06-11,22,ford
8158,7498,2013,ford focus,excellent,4.0,gas,78128.0,automatic,hatchback,grey,0,2018-09-30,35,ford
13490,14980,2003,chevrolet silverado 2500hd,like new,8.0,diesel,212000.0,automatic,truck,NaN,1,2019-01-06,73,chevrolet
21347,4999,2010,nissan rogue,good,4.0,gas,168000.0,automatic,SUV,black,0,2019-01-16,14,nissan
49088,2500,2006,nissan sentra,good,4.0,gas,176000.0,automatic,sedan,grey,0,2018-11-24,70,nissan
51316,4999,2010,hyundai elantra,good,4.0,gas,106935.0,automatic,sedan,black,0,2019-02-12,41,hyundai
13379,9800,2014,ford fusion,excellent,4.0,gas,NaN,automatic,sedan,NaN,0,2018-05-05,27,ford
45210,3995,2011,nissan versa,excellent,4.0,gas,155000.0,automatic,hatchback,NaN,0,2018-10-27,44,nissan
28815,3950,2005,ford f150,good,8.0,gas,217000.0,automatic,truck,black,1,2018-06-13,11,ford
7892,15980,2008,chevrolet tahoe,like new,8.0,gas,131878.0,automatic,SUV,black,1,2018-05-31,11,chevrolet
1032,5500,1997,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1,2018-05-22,17,jeep
33674,5200,2014,chrysler 200,excellent,4.0,gas,109211.0,automatic,sedan,white,0,2018-10-22,74,chrysler
2806,9900,2007,chevrolet silverado,good,8.0,gas,97516.0,automatic,truck,NaN,1,2019-02-14,66,chevrolet
16339,3400,2005,chrysler town & country,excellent,6.0,gas,119722.0,automatic,mini-van,silver,0,2018-12-05,7,chrysler
36864,7995,2005,chrysler 300,good,8.0,gas,183080.0,automatic,sedan,grey,0,2019-03-23,48,chrysler
49995,2750,2002,chevrolet trailblazer,excellent,6.0,gas,215000.0,automatic,SUV,grey,1,2018-10-01,24,chevrolet
34254,14977,2012,toyota tacoma,excellent,6.0,gas,167430.0,automatic,truck,NaN,0,2018-06-20,21,toyota
8047,2895,1995,chevrolet camaro,excellent,6.0,gas,161000.0,automatic,coupe,white,0,2018-12-25,46,chevrolet